# Normalize to LF for all text files (Python, YAML, JSON, Markdown)
* text=auto eol=lf

*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Binary
*.png binary
*.jpg binary
